/* MAIN SECTION */

.back-button {
    color: #dc3545;
}

.back-button:hover {
    color: orange;
}

.player-title {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.com-title {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.area-rps {
    height: 10rem;
    text-align: center;
}

.figure {
    text-align: center;
}

.player {
    cursor: pointer;
}

.player:hover {
    transform: scale(1.2) rotate(15deg);
}

.win-player,
.win-com {
    color: white;
    font-family: sans-serif;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-top: 10rem;
    transform: rotate(-15deg);
    height: 10rem;
    padding-top: 2.5rem;
    margin-bottom: 10rem;
    display: none;
}

.win-player {
    background-color: #4C9654;
}

.win-com {
    background-color: red;
}

.draw {
    color: black;
    font-family: sans-serif;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-top: 10rem;
    background-color: yellow;
    transform: rotate(-15deg);
    height: 10rem;
    padding-top: 3.5rem;
    margin-bottom: 10rem;
    display: none;
}

.versus {
    color: #BD0000;
    font-weight: bold;
    font-family: sans-serif;
    display: block;
    letter-spacing: 0.1rem;
    font-size: 8rem;
    margin-top: 12.5rem;
    margin-bottom: 3rem;
}

.versus-position {
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    vertical-align: middle !important;
    justify-content: center !important;
}

.reset-button {
    max-width: 5rem !important;
    cursor: pointer;
    text-align: center !important;
}

.reset-button:hover {
    animation: rotate 1s normal;
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
}

/* END OF MAIN SECTION */

/* JAVASCRIPT SECTION  */
.border-pick {
    background-color: #737373;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}