html,
body {
  padding: 0;
  margin: 0;
  margin: 0 !important;
  float: right;
  /* font-family: 'Josefin Sans', sans-serif, 'Ubuntu', 'Bebas Neue', 'Poppins', 'Sarala'; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}