.profile-pict {
    /* width: 300px;
    height: 300px; */
    /* clip-path: circle(8rem); */
    border-radius: 50%;
}

.btn-change-profile {
    width: 15rem !important;
}

.pp-section {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
}

.card-size-profile {
    height: 18rem !important;
}

.profile-socials {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.profile-socials li {
    margin: 15px;
}

.profile-socials a {
    font-size: 1.5rem;
}

.instagram {
    color: #F12950;
}

.instagram:hover {
    color: #F12950;
}

.facebook {
    color: #1877f2;
}

.facebook:hover {
    color: #1877f2;
}

.twitter {
    color: #00acee;
}

.twitter:hover {
    color: #00acee;
}

.tiktok {
    color: #000000
}

.tiktok:hover {
    color: #000000;
}

.form-sizing {
    height: 150px;
}